@font-face {
    font-family: PixelTimesNewRoman;
    src: url(fonts/PixelTimesNewRoman.ttf);
  }

body {
    background-image: url('images/bg.png');
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }

#shirt {
    padding-top: 0px;
}

#construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    font-family: 'PixelTimesNewRoman';
    color: #be2633;
}